@page
@model Website.Pages.MyPages.ExerciseDetailscshtmlModel
@{
}

@*<h1> Details:</h1>
<p>Id: @Model.dummyData.Id</p>
<p>Name: @Model.dummyData.FirstName</p>
<p>Age: @Model.dummyData.LastName</p>
<p>Email: @Model.dummyData.Email</p>
<p>Gender: @Model.dummyData.Gender</p>
<p>StreetName: @Model.dummyData.StreetName</p>
<p>StreetNumber: @Model.dummyData.StreetNumber</p>
<p>ZipCode: @Model.dummyData.ZipCode</p>
<p>Country: @Model.dummyData.Country</p>
<p>City: @Model.dummyData.City</p>*@