@page
@model Website.Pages.MyPages.ExerciseDetailscshtmlModel
@{
}

<h1> Details:</h1>



<div class="column-container-exercise">
    <div>
        <p>Name: @Model.selectedEx.Name</p>
        <p>Difficulty: @Model.selectedEx.Difficulty</p>
        <p>Reps: @Model.selectedEx.RepRange</p>
        <p>Weight: @Model.selectedEx.Weight</p>
        <p><img class="column-image-avatar" src="@Model.selectedEx.PictureUrl"></p>
    </div>
</div>

<p><a asp-page="/MyPages/CreateComment" asp-route-name=@Model.selectedEx.Name>Leave a review!</a></p>
